$dark: #2B2F33;
$blue: #4768DF;
$husly: #5D787A;
$light: #d8e2e6;
$husky-light: #BECFCD;
$lightgrey: #f4f4f4;
$green: #9cd6be;
$placeholder-text: #797a7b;

$input-border: rgb(160, 160, 160);

$header-height: 70px;